{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <!-- Social Icons (Top-Left) -->
            <div class="social-icons">
                <a href="https://x.com/sarilingdwende" target="_blank" aria-label="Twitter">
                    <i data-feather="twitter"></i>
                </a>
                <a href="https://instagram.com/sarilingdwende" target="_blank" aria-label="Instagram">
                    <i data-feather="instagram"></i>
                </a>
                <a href="mailto:kael.espino1123@gmail.com" aria-label="Gmail">
                    <i data-feather="mail"></i>
                </a>
            </div>
            <div class="nav-links">
                <a href="https://enjambments.com"> home </a>
                <div> • </div>
                <a href="https://enjambments.com/creative/creative"> creative </a>
                <div> • </div>
                <a href="https://enjambments.com/events/events"> events </a>
                <div> • </div>
                <a href="https://enjambments.com/logs/logs"> logs </a>
                <div> • </div>
                <a href="https://enjambments.com/musings/musings"> musings </a>
                <div> • </div>
                <a href="https://enjambments.com/thoughts/thoughts"> thoughts </a>
            <!-- Add more links as needed -->
            </div>
                    <!-- Search Bar (Top-Right) -->
            {% if settings.dgEnableSearch === true %}
                {% include "components/searchContainer.njk" %}
            {% endif %}
        </div>
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}