{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <!-- Social Icons (Top-Left) -->
            <div class="social-icons">
                <a href="https://x.com/sarilingdwende" target="_blank" aria-label="Twitter">
                    <i data-feather="twitter"></i>
                </a>
                <a href="https://instagram.com/sarilingdwende" target="_blank" aria-label="Instagram">
                    <i data-feather="instagram"></i>
                </a>
                <a href="mailto:kael.espino1123@gmail.com" aria-label="Gmail">
                    <i data-feather="mail"></i>
                </a>
            </div>
               <!-- Navigation Links (Center) -->
            <ul class="nav-links">
                <li><a href="https://enjambments.com">enjambments</a></li>
                <li><a href="https://enjambments.com/creative/creative">creative</a></li>
                <li><a href="https://enjambments.com/events/events">events</a></li>
                <li><a href="https://enjambments.com/logs/logs">logos</a></li>
                <li><a href="https://enjambments.com/musings/musings">musings</a></li>
                <li><a href="https://enjambments.com/thoughts/thoughts">thoughts</a></li>
            <!-- Add more links as needed -->
            </ul>
                    <!-- Search Bar (Top-Right) -->
            {% if settings.dgEnableSearch === true %}
                {% include "components/searchContainer.njk" %}
            {% endif %}
        </div>
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}