<div class="toc-container">
  <h2 class="toc-title">On this page</h2>
  <nav class="toc">
    <ul>
      {% for heading in headings %}
        <li><a href="#{{ heading.id }}">{{ heading.text | replace('#', '') }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div> 